@charset "UTF-8";

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanskr/v27/Pby6FmXiEBPT4ITbgNA5CgmOsn7tqoAetwxcvEcQNuukkRBBEIyMcFQ.0.woff2) format('woff2');
  unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/publicsans/v14/ijwRs572Xtc6ZYQws9YVwnNJfJ7Cww.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosanstc/v26/-nFlOG829Oofr2wohFbTp9i9WyEKSehbzKSBjgyYqEML3A_ajbajwVJ5kTuPLNzqyAbPohbs.0.woff2) format('woff2');
  unicode-range: U+1f921-1f930, U+1f932-1f935, U+1f937-1f939, U+1f940-1f944, U+1f947-1f94a, U+1f950-1f95f, U+1f962-1f967, U+1f969-1f96a, U+1f980-1f981, U+1f984-1f98d, U+1f990-1f992, U+1f994-1f996, U+1f9c0, U+1f9d0, U+1f9d2, U+1f9d4, U+1f9d6, U+1f9d8, U+1f9da, U+1f9dc-1f9dd, U+1f9df-1f9e2, U+1f9e5-1f9e6, U+20024, U+20487, U+20779, U+20c41, U+20c78, U+20d71, U+20e98, U+20ef9, U+2107b, U+210c1, U+22c51, U+233b4, U+24a12, U+2512b, U+2546e, U+25683, U+267cc, U+269f2, U+27657, U+282e2, U+2898d, U+29d5a, U+f0001-f0005, U+f0019, U+f009b, U+f0101-f0104, U+f012b, U+f01ba, U+f01d6, U+f0209, U+f0217, U+f0223-f0224, U+fc355, U+fe327, U+fe517, U+feb97, U+fffb4;
}

:root {
  --blue: #0056aa;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-wrap {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  /* font-weight: bold; */
  height: 80px;
  line-height: 80px;
  min-width: 1400px;
}

.header-wrap img.logo-a {
  display: block;
  position: absolute;
  top: 0;
}

.header-wrap img.logo-c {
  position: absolute;
  display: none;
  top: 20px;
}

.header-wrap:hover {
  background: #fff;
  color: black;
  border-top: 1px solid #dbdcdd;
}

.header-wrap:hover img.logo-c {
  display: block;
  top: 20px;
}

.header-wrap .gnb {
  display: flex;
  text-transform: uppercase;
}

.header-wrap .gnb .main-menu a {
  font-family: Public Sans, sans-serif;
  font-weight: 500;
  display: block;
  padding: 28px 20px;
  /* color: #fff; */
  font-size: 17px;
  line-height: 22px;
}

.header-wrap .gnb .main-menu:last-child {
  padding-right: 0;
}

.header-wrap .gnb .main-menu:hover {
  color: var(--blue);
}

.header-wrap .gnb .main-menu:hover>a {
  border-bottom: 1px solid var(--blue);
  padding-bottom: 30px;
}

.header-wrap .gnb .main-menu:hover .sub-menu {
  display: block;
  text-align: center;
  color: black;
}

.header-wrap .gnb .sub-menu {
  display: none;
  font-size: 14px;
  height: 80px;
  line-height: 80px;
  background: white;
}

.header-wrap .gnb .sub-menu>ul>li:hover>a {
  color: var(--blue);
}

.header-wrap .gnb .sub-menu .sub-menu-title {
  display: flex;
  position: absolute;
  background: white;
  width: 100%;
  justify-content: center;
  left: 0;
}

.header-wrap .gnb .sub-menu .sub-menu-title li {
  padding-right: 40px;
}

.header-wrap .gnb .sub-menu .sub-menu-title li:last-child {
  padding-right: 0;
}

.header-utils {
  display: flex;
  align-items: center;
  line-height: 22px;
}

.header-utils div {
  padding: 5px 15px;
  border-radius: 50px;
}

.header-utils button {
  font-size: 12px;
  margin-right: 32px;
  box-sizing: border-box;
  border: none;
  background: transparent;
  color: inherit;
  font-weight: bold;
  cursor: pointer;
}

.header-utils button:last-child {
  margin-right: 0;
}

.header-wrap:hover .header-utils {
  color: #fff;
  display: flex;
  align-items: center;
}

.header-wrap:hover .header-utils .header-search {
  background: #222;
  height: 32px;
  width: 80px;
  border-radius: 16px;
}

.header-wrap:hover .header-utils .header-market {
  background: var(--blue);
  height: 32px;
  width: 118px;
  border-radius: 15px;
}

.mySwiper {
  width: 100%;
  height: 100vh;
  min-width: 1500px;
  margin: 0;
  padding: 0;
  /* position: absolute; */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.swiper-slide video {
  /* display: block; */
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  background: transparent;
}

.maintext {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-left: 207px;
  color: #fff;
}

.maintext h2 {
  font-size: 50px;
  margin-bottom: 36px;
}

.maintext p {
  font-size: 24px;
}

/* .swiper-pagination {
  position: absolute;
} */

.swiper-button-next:after {
  content: url("../img/icons/btn-caret-right.png");
  margin-right: 50px;
}

.swiper-button-prev:after {
  content: url("../img/icons/btn-caret-left.png");
  margin-left: 50px;
}

.scroll-mouse {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  animation: upDown .5s linear 0s infinite alternate;
}

.scroll-mouse>img {
  position: absolute;
  object-fit: cover;
  z-index: 500;
  bottom: 0;
  margin-bottom: inherit;
}

@keyframes upDown {
  0% {
    margin-top: 0px;
  }

  100% {
    margin-top: 10px;
  }
}

.count-year {
  width: 100%;
  height: 100vh;
  background: transparent;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
}

.count-year .count-items {
  display: flex;
  width: 100%;
  height: 428px;
  background: var(--blue);
  display: flex;
  justify-content: center;
  color: #fff;
  bottom: 0;
  z-index: 500;
}

.count-year .count-items>span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 55px;
}

.count-year .count-items>span>em {
  margin-bottom: 50px;
  font-size: 44px;
  font-weight: bold;
}

.count-year .count-items>span p {
  font-size: 14px;
}

.count-year .count-items>span p:last-child {
  margin-top: 10px;
}

#products {
  width: 100%;
  min-width: 1400px;
  display: flex;
}

#products>div {
  width: 25%;
  height: 100vh;
  background-position: center;
}

#products>div:hover {
  background-size: 125%;
}

#products>div:nth-child(1) {
  background-image: url('../img/img-product-gl.png');
}

#products>div:nth-child(2) {
  background-image: url('../img/img-product-lens.png');
}

#products>div:nth-child(3) {
  background-image: url('../img/img-product-contact.png');
}

#products>div:nth-child(4) {
  background-image: url('../img/img-product-bo.png');
}

.common-btn {
  font-size: 36px;
  position: absolute;
  border: 1px solid var(--blue);
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  color: var(--blue);
  font-weight: 700;
  font-size: 15px;
  background-color: transparent;
  padding: 17px 60px;
  margin-top: 50vh;
  margin-left: 8%;
}

#products>div .common-btn span {
  position: relative;
  z-index: 1;
}

#products>div:hover .common-btn {
  color: #fff;
}

#products>div:hover .common-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: var(--blue);
  /* z-index: -1; */
  animation: diagonal .5s linear 0s 1 forwards;
}

@keyframes diagonal {
  0% {
    width: 0px;
    height: 0px;
    transform: rotate(45deg);
  }

  100% {
    width: 500px;
    height: 500px;
  }
}

.fourth {
  background-color: #f2efed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: block;
  background-image: url(../img/img-main-fullbanner-01.png);
  transition: background-size .3s ease;
  font-family: 'Noto Sans TC';
}

.fifth {
  background-color: #f2efed;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: block;
  background-image: url(../img/img-main-fullbanner-02.png);
  transition: background-size .3s ease;
}

.fourth:hover {
  background-size: 120%;
}

.fourth .inner {
  width: 1320px;
  height: 100vh;
  min-height: 650px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.fourth .inner .box {
  text-align: left;
  float: left;
  width: 50%;
  min-height: 650px;
}

.fifth .inner .box {
  float: right;
  text-align: right;
}

.fourth .inner .box .text-box {
  margin-left: 50px;
  display: inline-block;
  text-align: left;
  margin-top: 160.5px;
}

.fifth .inner .box .text-box {
  text-align: right;
  margin-top: 160.5px;
}

.fourth .text-box h2 {
  line-height: 60px;
  font-size: 45px;
}

.fourth .inner .subtitle {
  margin-top: 22px;
  font-size: 20px;
  line-height: 30px;
  color: #666666;
}

.fourth .inner button {
  margin-top: 94px;
  margin-left: 0;
  border: 2px solid #898785;
  color: #222;
  display: none;
}

.fifth .inner button {
  right: 0;
  margin-right: 130px;
}

.fourth:hover .inner button {
  display: block;
}

.fourth .inner button.common-btn span {
  position: relative;
  z-index: 1;
}

.fourth .inner button:hover {
  color: #fff;
}

.fourth .inner button:hover:after {
  content: "";
  top: 0;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: var(--blue);
  /* z-index: -1; */
  animation: diagonal .5s linear 0s 1 forwards;
}

.myfeed-insta {
  padding-top: 40px;
  height: calc(100vh - 80px);
  width: 1400px;
  margin: 0 auto;
}

.myfeed-insta h2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 71px;
  margin-bottom: 30px;
  font-family: 'Public Sans', sans-serif;
}

.myfeed-insta .inner-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.myfeed-insta .instafeed-inner {
  width: 320px;
  height: 320px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-right: 40px;
  margin-bottom: 40px;
}

.myfeed-insta .instafeed-inner .instafeed-cont {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  color: #222;
}

.myfeed-insta .instafeed-inner .instafeed-cont .instafeed-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}

.myfeed-insta .instafeed-inner .instafeed-cont .instafeed-type {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-notice {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  width: 1400px;
  margin: 0 auto;
}

.notice-cont {
  width: 680px;
  position: relative;
}

.notice-cont h3 {
  font-size: 35px;
  line-height: 70px;
  font-weight: 900;
  margin-bottom: 20px;
}

.notice-cont .notice-desc-wrap {
  display: flex;
  height: 239px;
  flex-direction: column;
}

.notice-cont .notice-desc-wrap .notice-desc {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #edeff5;
}

.notice-cont .notice-desc-wrap .notice-desc .notice-ttl {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -.54px;
}

.main-notice .notice-cont .btn-all {
  position: absolute;
  top: 10px;
  right: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #222;
  overflow: hidden;
}

.main-notice .notice-cont .btn-all::before {
  content: "";
position: absolute;
top: 0;
left: 0;
background-color: #0056aa;
width: 200%;
height: 100%;
transform: skewX(-40deg) translateX(-130%);
transition: .3s;
z-index: -1;
}

.main-notice .notice-cont .btn-all span {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #222;
    display: block;
}

.main-notice .notice-cont .btn-all span:first-child {
  width: 20px;
  height: 1px;
}

.main-notice .notice-cont .btn-all span:nth-child(2) {
    height: 20px;
    width: 1px;
}

section.main-notice .parallax-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
      }

section.main-notice .swiper-slide {
  color: #fff;
  display: block;
  left: 376px;
  top: 50px;
  font-weight: 700;
}

section.main-notice .swiper-slide .title {
              font-size: 40px;
              margin-bottom: 10px;
              line-height: 70px;
              width: 276px;

            }

section.main-notice .swiper-slide .title.longStoreName {
  font-size: 32px;
}

section.main-notice .swiper-slide .subtitle {
              width: 276px;
              font-size: 22px;
            }

.footer {
  width: 100%;
    background: #f9f9f9;
    line-height: 26px;
}

.footer-inner {
  width: 1400px;
    margin: auto;
    padding: 70px 0;
}

.footer-top {
  display: flex;
justify-content: space-between;
align-items: center;
}

.footer-top .fnb {
  display: flex;
  font-weight: 500;
}

.footer-top .fnb li {
  margin-right: 38px;
}

.footer-top .fnb li a {
  letter-spacing: -.48px;
}

.footer-top .footer-sns {
  display: flex;
  align-items: center;
}

.footer-top .footer-sns a {
  margin-right: 28px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.footer-top .footer-sns a.instagram {
  width: 23px;
  height: 23px;
}

.footer-top .footer-sns a img {
  width: 100%;
  height: 100%;
}

.footer-top .footer-sns a.instagram img {
  left: 0;
}

.footer-top .footer-sns a.facebook {
  width: 24px;
  height: 24px;
}

.footer-top .footer-sns a.facebook img {
  left: -31px;
}

.footer-top .footer-sns a.youtube {
  margin-right: 0;
  width: 25px;
  height: 21px;
}

.footer-top .footer-sns a.youtube img {
  left: -63px;
}

.footer .footer-inner .footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-inner .footer-body .footer-info {
  margin-top: 60px;
}

.footer .footer-inner .footer-body .footer-info h2 {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -.75px;
}

.footer .footer-inner .footer-body .footer-info p {
  margin: 32px 0;
line-height: 26px;
letter-spacing: -.48px;
}

.footer .footer-inner .footer-body .footer-info p span {
  display: block;
  color: #555;
}

.footer .footer-inner .footer-body .footer-info small {
  color: #888;
  letter-spacing: -.42px;
  font-size: 14px;
}

.footer .footer-inner .footer-body .footer-familysite {
  box-sizing: border-box;
  width: 250px;
  height: auto;
  letter-spacing: -.48px;
  font-size: 16px;
  position: relative;
}

.footer .footer-inner .footer-body .footer-familysite .familysite-btn {
  color: #555;
    border: 1px solid #dedede;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.footer .footer-inner .footer-body .footer-familysite .familysite-btn span {
  display: inline-block;
  width: 100%;
}

.footer .footer-inner .footer-body .footer-familysite .familysite-link {
    position: absolute;
    width: 100%;
    bottom: 100%;
    left: 0;
    border: 1px solid #dedede;
    border-bottom: none;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.footer .footer-inner .footer-body .footer-familysite .familysite-link a{
  width: 100%;
  color: #555;
  box-sizing: border-box;
  padding: 8px 20px;
}

.top-btn {
  width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #003a70;
    position: fixed;
    z-index: 99999;
    padding-top: 8px;
    opacity: 0;
    transform: translateY(-50%);
    transition: .3s;
    bottom: 30px;
    right: 50px;
}

.top-btn img {
  width: 24px;
  height: 25px;
}
